
// style preloader

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $white;
	z-index: 99;
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../img/status.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}

// hide brand title in mobile menu

.menu > li.brand-title { display: none; }

// hide focus outline, looks shit

:focus { outline-color: rgba(255,255,255,0); }

@include breakpoint(medium) {

	// hide title bar on desktop

	.title-bar { display: none; }

	// show brand title on desktop

	.menu > li.brand-title { display: table-cell; }

	.top-bar, .top-bar ul { background-color: $white; }
}

// work section

body.work section {
	padding: 4.5rem 1rem;

	.columns { 
		padding: 1.5rem 1rem;

		.thmb-wrap { 
			border-radius: 4px; 
			overflow: hidden;

			.img { padding: 4rem 1rem; }
			.subcopy { padding: 1rem; background-color: $white; }
		}
	}

	.row > :nth-child(4n+1) .img { background-color: #4285f4; }
	.row > :nth-child(4n+2) .img { background-color: #ea4335; }
	.row > :nth-child(4n+3) .img { background-color: #fbbc05; }
	.row > :nth-child(4n+4) .img { background-color: #34a853; }
}

// style posts

.row-wrap {
	padding: 1rem;

	@include breakpoint(medium) { padding: 2rem 1rem; }
	@include breakpoint(large) { padding: 4rem 1rem; }
}

.row-wrap.highlight { background-color: rgba(100,100,100,0.1); }

.row-wrap.media { 
	padding: 0 1rem;

	.plasma-wrap { padding: 0 1rem; }
}

body.blog .row-wrap:nth-child(even) { background-color: rgba(100,100,100,0.1); }

.post-hentry { padding: 1rem; }

body.project img { border-radius: 4px; }

// content-wrap

.plasma-wrap {
	padding: 1rem;
	margin: 0 auto;
	max-width: 832px; 
	overflow: hidden;
}

.web-wrap { 
	@extend .plasma-wrap;
	max-width: none;
}


